Document length (approx words): {{ doc_word_count }}
Target number of splits: between {{ min_expected_splits }} and {{ max_expected_splits }}

Task
Split the following document according to the system instructions.

{{ document }}
